.root {
  text-align: center;
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #e4e6f0;
}

.dropdown {
  display: inline-block;
  font-size: 17px;
  background-color: #fff;
}

.dropdown :global(.icon-arrow) {
  margin-left: 3px;
  color: #bbb;
  font-size: 12px;
}

.selected {
  color: #21b97a;
}

.selected :global(.icon-arrow) {
  color: #21b97a;
}
