/* 菜单样式 */
.nav {
    padding-top:13px;
    text-align: center;
    background-color: #fff;
}

.nav img {
    height: 48px;
}

.nav p {
    margin-top: 8px;
    font-size: 13px;
}

// 租房小组
.group {
    overflow: hidden;
    padding: 0 10px;
    &-title {
        margin: 15px 0 15px 10px;
        h3 {
            font-size: 15px;
        }
        span {
            font-size: 14px;
            color: #787d82;
        }
    }
    // 宫格
    .am-flexbox {
        margin-bottom: 10px;
        background-color: transparent;
        .am-grid-item {
            margin-right: 0;
            background-color: #fff;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    .grid-item {
        padding: 0 13px;
        .desc {
            h3 {
                margin-bottom: 5px;
                font-size: 13px;
            }
            p {
                color: #999;
                font-size: 12px;
            }
        }
        img {
            width: 55px;
        }
    }
}

// 最新资讯
.news {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    .group-title {
      margin: 10px 0 5px 10px;
      font-size: 15px;
    }
    &-item {
      height: 120px;
      padding: 15px 10px 15px 0;
      border-bottom: 1px solid #e5e5e5;
    }
    &-item:last-child {
      border: 0;
    }
    .imgwrap {
      float: left;
      height: 90px;
      width: 120px;
    }
    .img {
      height: 90px;
      width: 120px;
    }
    .content {
      overflow: hidden;
      height: 100%;
      padding-left: 12px;
    }
    .title {
      margin: 0;
      font-size: 14px;
    }
    .info {
      width: 100%;
      color: #9c9fa1;
      font-size: 12px;
    }
    .message-title {
      margin-bottom: 48px;
    }
  }