.indexBox{
  background-color: #f6f5f6;
} 
// 顶部导航和搜索
.topNav {
  position: fixed;
  top:20px;
  left:0;
  right:0;
  z-index: 999;
  width: 100%;
  padding:0 10px;
  .searchBox {
    flex:9;
  }
.city {
  position: absolute;
  left:20px;
  top:10px;
  z-index: 100;
  padding-right: 8px;
  border-right: 1px solid #eee;
  // 动画文字抖动解决
  backface-visibility: hidden;
  .icon-arrow {
    color:#7f7f80;
    vertical-align: middle;
    font-size: 12px;
  }
}
.am-search {
  padding: 0 8px 0 50px;
  height: 36px;
  overflow: hidden;
 
  border-radius: 100px;
}
.am-search-input,.am-search {
  background-color: #fafafa;
}
.map {
  flex:1;
  text-align: right;
  .icon-map {
    font-size: 24px;
  }
}

}

/* 菜单样式 */
.nav {
    padding-top:13px;
    text-align: center;
    background-color: #fff;
}

.nav img {
    height: 48px;
}

.nav p {
    margin: 8px 0 10px;
    font-size: 13px;
}

// 租房小组
.group {
    overflow: hidden;
    padding: 0 10px;
    &-title {
        margin: 15px 0 15px 10px;
        h3 {
            font-size: 15px;
        }
        span {
            font-size: 14px;
            color: #787d82;
        }
    }
    // 宫格
    .am-flexbox {
        margin-bottom: 10px;
        background-color: transparent;
        .am-grid-item {
            margin-right: 0;
            background-color: #fff;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
    .grid-item {
        padding: 0 13px;
        .desc {
            h3 {
                margin-bottom: 5px;
                font-size: 13px;
            }
            p {
                color: #999;
                font-size: 12px;
            }
        }
        img {
            width: 55px;
        }
    }
}

// 最新资讯
.news {
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 50px;
    .group-title {
      margin: 10px 0 5px 10px;
      font-size: 15px;
    }
    &-item {
      height: 120px;
      padding: 15px 10px 15px 0;
      border-bottom: 1px solid #e5e5e5;
    }
    &-item:last-child {
      border: 0;
    }
    .imgwrap {
      float: left;
      height: 90px;
      width: 120px;
    }
    .img {
      height: 90px;
      width: 120px;
    }
    .content {
      overflow: hidden;
      height: 100%;
      padding-left: 12px;
    }
    .title {
      margin: 0;
      font-size: 14px;
    }
    .info {
      width: 100%;
      color: #9c9fa1;
      font-size: 12px;
    }
    .message-title {
      margin-bottom: 48px;
    }
  }