.root {
  padding-bottom: 70px;
  background-color: #f5f5f9;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 45px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  background-color: #fff;
}

.cancel {
  color: #21b97a;
  background-color: #fff;
  height: 100%;
  line-height: 45px;
}

.imgpicker {
  overflow: hidden;
}

.input {
  width: 20%;
  color: #000;
  font-size: 17px;
  appearance: none;
  padding: 2px 0;
  border: 0;
  background-color: transparent;
  line-height: 1;
}

.input::placeholder {
  color: #bbb;
}

.label {
  color: #666;
  font-size: 17px;
  margin-right: 5px;
  text-align: left;
  overflow: hidden;
  padding: 2px 0;
  width: 85px;
  display: inline-block;
  vertical-align: middle;
}

:global [data-role='rent-list'] .am-input-label {
  color: #666;
}

:global [data-role='rent-list'] .am-list-item .am-list-line .am-list-content {
  color: #666;
}

.root :global(.am-list-header) {
  color: #21b97a;
  background-color: #fff;
  font-size: 15px;
}

.root :global(input[placeholder]) {
  font-size: 14px;
}
.root :global(textarea[placeholder]) {
  font-size: 14px;
}

.confirm {
  height: 45px;
  line-height: 45px;
  background-color: #21b97a;
}

/* .header :global(.am-list-body) { */
:global(.am-list-item .am-list-line .am-list-content) {
  font-size: 14px;
}

:global(.am-list-item .am-list-line .am-list-extra) {
  font-size: 14px;
}

:global(.am-list-item .am-input-label) {
  font-size: 14px;
}

:global(.am-list-item .am-input-extra) {
  font-size: 14px;
}

:global(html:not([data-scale]) .am-list-body::after) {
  height: 0;
}

.title :global(.am-list-header) {
  color: #333;
  font-size: 14px;
}

.pics :global(.am-list-header) {
  color: #333;
  font-size: 14px;
}

.supporting :global(.am-list-header) {
  color: #333;
  font-size: 14px;
}

.supporting :global(.am-list-body) {
  padding-bottom: 20px;
  background-color: #f6f5f6;
}

.desc {
  background-color: #fff;
}

.desc :global(.am-list-header) {
  color: #333;
  font-size: 14px;
}
