.root {
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 40px;
  top: 0;
}

.mask {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}
