html,
body {
    height: 100%;
    color: #333;
    background-color: #f6f5f6;
}

* {
    touch-action: pan-y;
    /* touch-action: none; */
    box-sizing: border-box; 
}


.app, #root,#container {
    height: 100%;
}