html,
body {
    height: 100%;
    color: #333;
    background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}

* {
    // touch-action: pan-y;
    touch-action: none; 
    box-sizing: border-box; 
}


.app, #root,#container {
    height: 100%;
}
